.header{
    padding-bottom: 20px;
}
.header_title{
    text-align: center;
}

.bestoffive{
    text-align: center;
}

.weapon_title{
    text-align: center;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.button {
    height: 200px;
    width: 200px;
}

#outcome{
    padding-top: 50px;
}